<!--// Name: Tommy Cao
    // Date: 12/27/19
    // Description: Bookstore CRUD App using MEAN (MongoDB, Express, Angular, Node.js) -->

<div class="container" ng-init="getTodos()">
  <h2 class="text-center">Todos MEAN (MongoDB, Express, Angular, Node.js)</h2>
  <a class="btn btn-primary" href="#/todos/add">Add Todo</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Priority</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="todo in todos">
        <td>{{todo.title}}</td>
        <td>{{todo.priority}}</td>
        <td><a class="btn btn-primary" href="#/todos/edit/{{todo._id}}">Edit</a>
        <a class="btn btn-primary" href="#" ng-click="removeTodo(todo._id)">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>